*{
    margin: 0;
}
body{
    background-color: rgba(102, 107, 114, 0.2);
    position: relative;
    max-height: 700px;
}
.main{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2vh 10vw;
    @media(max-width:780px){
        padding: 2vh 7vw;
    }
    .head-block{
        display: flex;
        flex-direction: row;
        align-items:center;
        .head-block-arrow{
            margin-right: 5vw;
            .head-block-arrow__link{
                width: auto;
                height: 10vh;
                @media(max-width:1280px){
                    height: 8vh;
                }
                @media(max-width:780px){
                    height: 7vh;
                }
                @media(max-width:620px){
                    height: 6vh;
                }
            }
        }
        .gallery-text__head{
            color: #012f55;
            letter-spacing: 0.4px;
            font-size: 2.5em;
            border-bottom: 3px solid rgb(206, 147, 58) ;
            @media(min-width:1280px){
                font-size: 2.8em;
            }
            @media(max-width:780px){
                font-size: 2.3em;
            }
            @media(max-width:620px){
                font-size: 2.1em;
            }
        }
    }
    .main-block{
        margin-top: 10vh;
        background-color: rgba(102, 107, 114, 0.2);
        height: 50vh;
        position: relative;
        width: auto;
        padding: 2vh 2vw;
        border-radius: 6px;
        box-shadow: 1px 1px 6px #24445e;
        @media(max-width:620px){
            min-height: 310px;
        }
        .contacs{
            font-size: 1.7em;
            margin-bottom: 2vh;
            line-height: 1.6em;
            color: #012f55;
            font-weight: 500;
            letter-spacing: 0.05em;
            @media(max-width:780px){
                font-size: 1.5em;
            }
            @media(max-width:780px){
                font-size: 1.4em;
            }
            @media(max-width:620px){
                font-size: 1.2em;
            }
        }
        .mail{
            font-size: 1.7em;
            color: #012f55;
            font-weight: 500;
            letter-spacing: 0.05em;
            @media(max-width:780px){
                font-size: 1.5em;
            }
            @media(max-width:620px){
                font-size: 1.4em;
            }
            @media(max-width:620px){
                font-size: 1.2em;
            }
        }
        .call-image{
            position: absolute;
            right: 6vw;
            top:16vh;
            width: 18vw;
            @media(max-width:1600px){
                width: 15vw;
            }
            @media(max-width:1280px){
                width: 14vw;
            }
            @media(max-width:780px){
                left: 2vw;
                top:230px;
            }
        }
    }
}